@model TaskData

@{
    ViewData["Title"] = "Add new Tasks";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <p class="text-center">
            <h4>Add new Task</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="taskName" class="control-label"></label>
                            <input asp-for="taskName" class="form-control" />
                            <span asp-validation-for="taskName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="taskDescription" class="control-label"></label>
                            <input asp-for="taskDescription" class="form-control" />
                            <span asp-validation-for="taskDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="startDate" class="control-label"></label>
                            <input asp-for="startDate" type="date" class="form-control" />
                            <span asp-validation-for="startDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="endDate" class="control-label"></label>
                            <input asp-for="endDate" type="date" class="form-control" />
                            <span asp-validation-for="endDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="taskStatus" class="control-label"></label>
                            <select asp-for="taskStatus" class="form-control" asp-items="ViewBag.TaskStatus"></select>
                            <span asp-validation-for="taskStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index"> Show All </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>